<div>
    <h1>cervezas</h1>

    {{#each this.cervezas}}
    <img src="{{this.image_url}}" width="65px" alt="cervezas">
    <h4>Name: {{this.name}}</h4>
    <p>Description: {{this.description}}</p>
    <p>Tagline: {{this.tagline}}</p>
   
        
    {{/each}}
</div> 